@charset "UFT-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('estilos/animacao.css');

:root{
    --font-padrão: 'Inter', sans-serif;
    --font-alternativa: 'Poppins', sans-serif;

    --cor0: #212226;
    --cor1: #1E4041;
    --cor2: #255954;
    --cor3: #3A8C7D;
    --cor4: #71D99E;
}

::-webkit-scrollbar{
    width: 0;
    height: 0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor0);
    color: white;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.875em 3.125em;
}

header span:hover{cursor: pointer;}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50vw;
}

nav a{
    color: var(--cor3);
    font: 500 1rem var(--font-padrão);
    letter-spacing: .125em;
}

nav a:hover{
    cursor: pointer;
    color: var(--cor4);
    transition: color .3s;
}

nav button{
    width: 7.8125em;
    padding: .625em 0em;
    background-color: var(--cor0);
    color: var(--cor3);
    box-shadow: 0em .25em .25em #00000040;
    border-radius: .3125em;
    border: .125em solid var(--cor3);
    font: 500 1rem var(--font-padrão);
    letter-spacing: .125em;
}

nav button:hover{
    background-color: var(--cor4);
    color: white;
    border: .125em solid var(--cor4);
    border-radius: .3125em;
    cursor: pointer;
    transition: color .3s, border .3s, background-color .3s;
}

#inicio{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    margin: auto;
    width: 80%;
    height: 85vh;
    padding-bottom: 1.875em;
}

#inicio > div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
}

div > img{width: 7.5625em;}
#inicio-texto{
    display: flex;
    flex-direction: column;
    gap: .625em;
}

#inicio-texto h1{
    font: 500 1.25rem var(--font-padrão);
    text-align: center;
    letter-spacing: .3125em;
    animation: aparecer-separar 1s linear .8s none;
} 

#inicio-texto p{
    font: 500 1rem var(--font-padrão);
    text-align: center;
    letter-spacing: .125em;
    padding-top: .375em;
    animation: aparecer-separar 1s linear .8s none;
}

#sobre{
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    margin: 0 auto;
    gap: 20vw;
    width: 80vw;
    padding-top: 1.25em;
}

#sobre > img{
    width: 30vw;
    border-radius: 50%;
}

#sobre article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 1.25em;
}

#sobre h2{
    font: 500 1.5rem var(--font-padrão);
    text-align: center;
    letter-spacing: .3125em;
}

#sobre p{
    font: 1rem var(--font-padrão);
    text-align: justify;
    letter-spacing: .125em;
    line-height: 2em;
}

#project{
    padding-top: 12.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 2.6875em;
    padding-bottom: 3.125em;
}

#project h2{
    font: 400 1.875rem var(--font-padrão);
    text-align: center;
    letter-spacing: .3125em;
}

#project > div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    gap: 3.125em;
}

#sec1, #sec2, #sec3, #sec4{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 1.5em;
    background-image: linear-gradient(134.39deg, var(--cor2) 42.49%, var(--cor4) 95.9%);
    border-radius: .9375em;
    border: none;
    box-shadow: .3125em .3125em .25em rgba(0,0,0,0.25);
    width: 21.875em;
    height: 21.875em;
}

.card > img{
    width: 100%;
    height: 50%;
    border-top-left-radius: .9375em;
    border-top-right-radius: .9375em;
}

#cordel{
    height: 58%;
    margin-top: -1.8em;
}

.card h3{
    font: 600 1rem var(--font-alternativa);
    text-align: center;
    letter-spacing: .0625em;
}

.card p{
    font: 600 .8rem var(--font-alternativa);
    text-align: justify;
    letter-spacing: .3125em;
    width: 80%;
}

.card:hover, .cardb:hover{cursor: pointer;}

.cardb{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    font: 300 1rem var(--font-padrão);
    text-align: center;
    letter-spacing: .3175em;
    background-image: linear-gradient(134.89deg, var(--cor2) 42.49%, var(--cor4) 95.9%);
    border-radius: .9375em;
    border: none;
    box-shadow: .3175em .3175em .25em rgba(0,0,0,0.25);
    width: 21.875em;
    height: 21.875em;
}